#body {
background-color: rgb(255, 255, 255);
height: 100vh;
display: grid;
grid-template-columns: 33% 33% 33%;
grid-template-rows: 150px auto;
grid-gap: 10px 15px;
}

.topContainer {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
}

#input-box {}

#things-to-do {
  background-color: rgb(97, 147, 240);
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}

#finished{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
}

#things-that-are-done {
  background-color: rgb(238, 98, 149);
}

h4{
  text-align: center;
}
